@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: var(--font-space-grotesk);
}

/* Add a subtle gradient animation to gradient texts */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-gradient-text {
  background-size: 200% auto;
  animation: gradient 4s linear infinite;
}

